*{box-sizing: border-box;}

body{
    margin: 0;
    display: flex;
    flex-direction: column;
}

/* header css */
a{text-decoration: none;}

header{
    background-color: rgb(189, 98, 19);
    display: flex;
    padding: 5px;
}

header ul{
    list-style: none;
    display: flex;
}
#logo{
    margin: 0 auto; 
    align-self: center;
    font-size: 30px;        
}

#logo a{
    color: rgb(224, 231, 238);
}

header ul li{
    padding: 5px;
}

#menu ul{
    margin: 0;
    padding: 0; 
}

#social-media ul{
    margin: 0;
    padding: 0;
}
header ul li a{
    display: block;
    margin: 5px;
    padding: 5px;
    color: rgb(224, 231, 238);
}

/* main css */
.main{display: flex;}

/* aside css */
aside{
    background-color: rgba(250, 247, 220, 0.562);
    border-right: 2px solid #eeee;
    flex-basis: 20vw;    
}
aside h3{text-align: center;}

aside ul{
    list-style: none;
    padding-left: 0;
}
aside a{
    color: rgb(19, 11, 1);
    display: block;
    margin: 5px;
    padding:10px ;
    border-bottom: 2px solid rgba(0, 0, 0, 0.356);
}

/* artical h1 p css */
article{background :rgba(250, 247, 220, 0.562);}
article h1,p,h2{
    margin-left: 10px;
}

/* main css */
.gallery{
    display: flex;
    margin: 5px;
    flex-basis: 1000px;
}
.container{
    border: 2px solid #eeee;
    flex-basis: 450px;
    max-width: 500px;
    margin: 5px;
    display: flex;
    flex-direction:column ;
}
.imgbox{
    margin: 10px;
    padding: 0px;
}

.imgbox img{
    display: block;
    padding: 0 ;
    width: 100%;
}
.titlebox h3{
    text-align: center;
    margin: 0;
}
.parabox p{
    margin: 10px;
}

.anchor-box{
    border: 1px solid transparent;
    align-self: center;
    margin-top: auto;
}

.anchor-box a{
    display: block;
    background: rgba(75, 75, 75, 0.77);
    padding: 10px;
    color: rgb(255, 255, 255);  
    font-size: 18px;
}

.anchor-box :hover{
    background: white;
    border: 1px solid rgba(75, 75, 75, 0.77);
    color: rgba(75, 75, 75, 0.77);
}
footer{
    background-color: rgb(189, 98, 19);
    text-align: center;
    color: rgb(224, 231, 238);
}
footer h3{color: rgb(224, 231, 238);}



